<div class="head">
    <button mat-button [matMenuTriggerFor]="menu" style="height: 70px; bottom:20px ;left:10px; "  >Menu</button>
  <mat-menu #menu="matMenu"  class="menu">
    
    <a href="/login"><button mat-menu-item>Login</button></a>
   <a href="/register"> <button mat-menu-item>Register</button></a>
  </mat-menu>
    <a href="">
      <img src="../../assets/logo.png" style="font-size: 110px;  height: 60px; position: relative; left:-17px;
      " class="img"/><i class="fa fa-home home_1"></i></a>
   
    <div class="ggg">
    <span>
    <a mat-button href="/about"   style="color:white" class="ab">About Us </a>
    <a mat-button href="/president"   class="ab1" style="color:white" >President Message</a>
    <a mat-button href="/service"   style="color:white" class="ab2">Services</a>
    <a mat-button href="/contact"    class="ab3" style="color:white">Contact Us</a>
    <a mat-button href="/login"    tyle="color:white" class="ab4">Login</a>
  </span></div>
  </div>
