<!-- <div class="pp">
    <button mat-button [matMenuTriggerFor]="menu" style="height: 70px; bottom:20px ;left:10px; " class="icon" >Menu</button>
  <mat-menu #menu="matMenu" >

    <a href="/login"><button mat-menu-item>Login</button></a>
    <button mat-menu-item>Register</button>
  </mat-menu>
    <img src="../../assets/logo.png" style="font-size: 110px;  height: 60px;" class="img"/>
   
    <div class="ggg">
    <span>
    <a mat-button href="/index"   style="color:white" class="ab">About Us </a>
    <a mat-button href="http://localhost:4200/president"   class="ab1" style="color:white" >President Message</a>
    <a mat-button href="http://localhost:4200/service"   style="color:white" class="ab2">Services</a>
    <a mat-button href="http://localhost:4200/contact"    class="ab3" style="color:white">Contact Us</a>
    <a mat-button href="http://localhost:4200/login"    tyle="color:white" class="ab4">Login</a>
  </span></div>
  </div> -->
  <app-header></app-header>
  <span class="msg">President Message</span>
  <img src="../../assets\MallikarjunaRao 2.jpg " class="mj">
  <p class="text-justify">
    Dr. Golthi Mallikarjun Rao is the founder and President of the Vishwakarma Foundation and Seva
Trust. "Vishwakarma Alliance Services" (VKAS) a part in <br>Vishwakarma Foundation and Seva Trust
(VKFST)
<br>
<br>
Dear Brahmasri Vishwakarman including friends and well-wishers,
<br>
<br>
Namaskaram..!
<br>
<br>
My name is Dr. Golthi Mallikarjun Rao and I am the Founder - President of VKFST. It is with great

pleasure that we welcome each and every one of you visitors<br> on behalf of Vishwakarma Alliance

Services to our website.
<br>
<br>
Having acquired around 37 years of experience in the field higher education, communications, and

having best relations in our community. We have been providing <br>expert advice and have been

providing best service since the last 5 decades to the members of our community. I along with many

like minded community members have come together to serve this organization.
<br>
<br>
<span class="text">
VKFST is a charitable organization that stands for Vishwakarma's operating from Hyderabad in the

state of Telangana. This foundation has been established on 18th February 2014 vide registration #

33/IV/2014 and amended the document in 22.12.2015 vide registration # 251/IV/2015.</span><br>
<br>
<span class="text-1">
We are providing the following wedding related services to the needy people of Vishwa Brahmins: </span><br>
<br>
<span class="text-2">
1. Alliance Services<br>

2. Purohit Services <br>

3. Wedding Invitations<br>

4. Catering Services<br>

5. Video and Photography Services <br>

6. Design and Decorative Services<br>

7. Function Halls / Banquette Halls Booking
<br>
8. Accommodation and Transportation Service and <br>

9. Event Management services<br></span>
<br>
<span class="text-3">
Sd/-<br>

Dr.GolthiMallikarjun Rao<br>

Founder President</span>

  </p>
  <div class="about">
    <h3>About Us</h3>
    <p>
        "Lorem ipsum dolor sit amet,
         consectetur adipiscing elit, <br>
         sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua.
         Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris."

        </p>
     <div class="help">
        <h3>Help & Support</h3>
        <p>
            24x7 Live help<br>
            Contact us<br>
            Feedback<br>
            FAQs   
        </p>
     </div>    
  <div class="quick">
    <h3>Quick Links</h3>
   <p>Privacy Policy<br>
    Terms and Conditions<br>
    Services</p> 
  </div>
    
  <div class="social">
    <h3>Social</h3>
    <div class="col-md-2 col_2">
      
      <ul class="footer_social">
      <li><a href="https://www.facebook.com/Vishwakarma-Foundation-Seva-Trust-1418477775074117/?fref=ts"
         target="_blank"><i class="fa fa-facebook fa1">facebook </i></a></li>
      <li><a href="#"><i class="fa fa-twitter fa1">twitter </i></a></li>
      <li><a href="#"><i class="fa fa-google-plus fa1"> Googleplus</i></a></li>
      <li><a href="#"><i class="fa fa-youtube fa1"> youtube</i></a></li>
      </ul>
    </div>
      
  </div>
  </div>  