.bord
{
    border: 1px solid black;
    width:100%;
    height:70px;
    color: #031d8e;
    background-color: #031d8e;
}
.section-content {
    position: relative;
    width: 1080px;
}
.section-content-nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}