<div class="bord">
<span>
    <h2 style="color:white ;">ng rok</h2>
    <p>Product</p>
    <p>Customers</p>
    <p>Docs</p>
    <p>Pricing</p>
    <p>Download</p>
</span>
</div>
<div class="section-content section-content-nav">
    <a href="/" aria-current="page" class="nav-logo-link w-inline-block w--current">
      <img src="/static/img/ngrok-white.svg" alt="ngrok" class="nav-logo-desktop nav-logo-desktop-v2 ml-50">
    </a>
    <div class="nav-links-contain-right">
      <div class="nav-links-center">
        <a href="/product" class="nav-link nav-link-v2 w-inline-block">
          <div class="download-arrow-link">
            <div class="nav-link-text nav-link-text-v2">Product</div>
          </div>
        </a>
        <a href="/customers" class="nav-link nav-link-v2 w-inline-block">
          <div class="download-arrow-link">
            <div class="nav-link-text nav-link-text-v2">Customers</div>
          </div>
        </a>
        <a href="/docs" class="nav-link nav-link-v2 w-inline-block">
          <div class="download-arrow-link">
            <div class="nav-link-text nav-link-text-v2">Docs</div>
          </div>
        </a>
        <a href="/pricing" class="nav-link nav-link-v2 w-inline-block">
          <div class="download-arrow-link">
            <div class="nav-link-text nav-link-text-v2">Pricing</div>
          </div>
        </a>
        <a href="/download" class="nav-link nav-link-v2 w-inline-block">
          <div class="download-arrow-link">
            <div class="nav-link-text nav-link-text-v2">Download</div>
          </div>
        </a>
      </div>
      <div class="nav-links-right" style="margin-right: 50px">
        <a href="https://dashboard.ngrok.com/login" class="nav-link-tmp-blue w-inline-block flex items-center justify-center">
          <div class="nav-link-text-tmp-blue">Login</div>
        </a>
        <a href="https://dashboard.ngrok.com/signup" class="nav-link-tmp w-inline-block flex items-center justify-center">
          <div class="nav-link-text-tmp">Sign up</div>
        </a>
      </div>
    </div>
  </div>