<!-- <div class="pp">
    <button mat-button [matMenuTriggerFor]="menu" style="height: 70px; bottom:20px ;left:10px; " class="icon" >Menu</button>
  <mat-menu #menu="matMenu" >
  
    <button mat-menu-item>Login</button>
    <button mat-menu-item>Register</button>
  </mat-menu>
    <img src="../../assets/logo.png" style="font-size: 110px;  height: 60px;" class="img"/>
   
    <div class="ggg">
    <span>
      <a mat-button href="http://localhost:4200/index"   style="color:white" class="ab">About Us </a>
      <a mat-button href="http://localhost:4200/president"   class="ab1" style="color:white" >President Message</a>
      <a mat-button href="http://localhost:4200/service"   style="color:white" class="ab2">Services</a>
      <a mat-button href="http://localhost:4200/contact"    class="ab3" style="color:white">Contact Us</a>
      <a mat-button href="http://localhost:4200/login"    tyle="color:white" class="ab4">Login</a>
  </span></div>
  </div> -->
  <app-header></app-header>
  <div class="bord">
   <p class="cont"> About us</p>
   <!-- <mat-icon  aria-label="Example home icon" fontIcon="home">home</mat-icon> -->
   <div>
   <img src="../../assets/home.jpg"  class="img1">
   <div class="para">
   <p >
       Lord VISHWAKARMA is considered by followers of the Hindu <br>
       faith to be the divine architect or engineer of the universe.  <br>
       Drawing inspiration from Lord Viswakarma, his descendants are  <br>
       renowned for their outstanding architectural skills. The ancient  <br>
       temples of Sri Kalahasthi, Tirupathi, Srisailam, Lepakshi, <br>
       Amaravathi, 1000 pillars, Alampur, Arasavilli, Bhadrachalam and  <br>
       Ramappa in Telangana and Andhra Pradesh bear ample <br>
       testimony to the precision, skills and aesthetic craftsmanship of <br>
       the Vishwabrahmins.</p><br>
       <p>
          In modern times, the Vishwabrahmins have diversified their<br> 
          occupations from the building trade to embrace newer<br> 
          professions like medicine, engineering, law, management,<br>
          governance, arts and education, among others, in tune with the <br>
          trends of the present day. However, although the<br>
          Vishwabrahmins have been making a substantial contribution to<br> 
          the social, cultural and economic fields through the ages,<br>
          recognition for their contribution to the well-being of the <br>
          Telugu speaking people is inadequately acknowledged.<br>

       </p><br>
       <p>
        There is therefore, a collective effort that is needed to <br>
        rejuvenate the Viswakarma community with planned and<br>
         programmed interventions, a responsibility that the<br>
         Vishwakarma Foundation and Seva Trust, founded by eminent <br>
         members of the Vishwabrahmin community, has been <br>
         shouldering since in 2014. Since then, every year new activities<br> 
         are added to serve community members optimally and improve, <br>
         after a detailed consultative process.<br>

       </p>
       <p class="meb"><b>members</b></p>
       <img src="../../assets/MallikarjunaRao 2.jpg" class="img2">
       <p class="p1">Dr. Golthi Mallikarjun <br>Rao</p>
       <img src="../../assets/VijayKumar.jpg"class="img3">
       <p class="p2">Sri Patnala Vijay<br> Kumar</p>
       <img src="../../assets/Narender.jpg" class="img4">
       <p class="p3">Sri Chintada <br>Narender Kumar</p>
       <img src="../../assets/kashyapjpg.jpg" class="img5">
       <p class="p4">Sri Dakoju Kashyap</p>
       <img src="../../assets/Dakoju Ravishankar.jpg" class="img6">
       <p class="p5">Dakoju Ravishankar</p>
       <img src="../../assets/Balaji.jpg" class="img7">
       <p class="p6">Sri Dakoju Balaji </p>
       <img src="../../assets/TV_Rao.jpg" class="img8">
       <p class="p7">TV Rao</p>
       <img src="../../assets/pvrkprasad.jpeg" class="img9">
       <p class="p8">PVRK Prasad</p>
       <img  src="../../assets/Prabhakar.jpg" class="img10">
       <p class="p9">Sri Anupoju Satya<br> Prabhakar Rao</p>
       <img src="../../assets/AnupojuMallikarjuna.jpg" class="img11">
       <p class="p10">Sri Anupoju <br>Mallikarjun Rao</p>
       <img src="../../assets/Umamaheswarao.jpeg" class="img12">
       <p class="p11">Kandukuri<br> umamaheswara <br>chary</p>
       <img src="../../assets/RepakaSubramanyam.jpeg" class="img13">
       <p class="p12">Repakabr<br> Subramanyam</p>
       <img src="../../assets/varaprasad.jpeg" class="img14">
       <p class="p13">Acharya Gurajapu <br>Varaprasad
       <br>(Chairman And NRI -<br>VKPATRON VKFST)</p>
</div>
  </div>
  <div class="about">
    <h3>About Us</h3>
    <p>
        "Lorem ipsum dolor sit amet,
         consectetur adipiscing elit, <br>
         sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua.
         Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris."

        </p>
     <div class="help">
        <h3>Help & Support</h3>
        <p>
            24x7 Live help<br>
            Contact us<br>
            Feedback<br>
            FAQs   
        </p>
     </div>    
  <div class="quick">
    <h3>Quick Links</h3>
   <p>Privacy Policy<br>
    Terms and Conditions<br>
    Services</p> 
  </div>
    
  <div class="social">
    <h3>Social</h3>
    
      <div class="col-md-2 col_2">
      
        <ul class="footer_social">
        <li><a href="https://www.facebook.com/Vishwakarma-Foundation-Seva-Trust-1418477775074117/?fref=ts"
           target="_blank"><i class="fa fa-facebook fa1">facebook </i></a></li>
        <li><a href="#"><i class="fa fa-twitter fa1">twitter </i></a></li>
        <li><a href="#"><i class="fa fa-google-plus fa1"> Googleplus</i></a></li>
        <li><a href="#"><i class="fa fa-youtube fa1"> youtube</i></a></li>
        </ul>
      </div>
        
        
    
  </div>
  </div>  
    

 