<app-header1></app-header1>
<a href="/home"><mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">home</mat-icon></a>&nbsp;
<span class="divider">&nbsp;|&nbsp;</span>
<span class="wel">Welcome To Viswakharma Alliances</span>
<div class="bord">
   <div>
    <span>
    <h2 class="head1">VKMB4422</h2>
    <img src="../../assets/m1.jpg" class="i1">
    <h3 class="sh1">KUMARI PALLA</h3>
    <P class="para1">
     First Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; KUMARI  <br>
     Last Name : &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PALLA <br>
     Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25 <br>
     Marital Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UN Married<br>
     Profile Createdby:&nbsp;&nbsp;&nbsp;&nbsp; Parent
    </P></span><br>
    <h2 class="head2">VKMB4423</h2>
    <img src="../../assets/m2.jpg" class="i2">
    <h3 class="sh2">RADHIKA MANGA</h3>
   <P class="para2">
    First Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; RADHIKA  <br>
    Last Name : &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MANGA <br>
    Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;26 <br>
    Marital Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UN Married<br>
    Profile Createdby:&nbsp;&nbsp;&nbsp;&nbsp; Parent<br> </P><br>
   <span>
    <h2 class="head3">VKMB4425</h2>
    <img src="../../assets/m3.jpg" class="i3">
    <h3 class="sh3">DIVYA SRI<br>KONDAPALLI</h3>
    <P class="para3">
        First Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DIVYA SRI  <br>
        Last Name : &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KONDAPALLI <br>
        Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;23<br>
        Marital Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UN Married<br>
        Profile Createdby:&nbsp;&nbsp;&nbsp;&nbsp; Parent<br> </P>
   </span>       
   <h2 class="head4">VKMB4426</h2>
   <img src="../../assets/m4.jpg" class="i4">
   <h3 class="sh4">VENU KUMARI <br>KONDAPALLI</h3>
   <P class="para4">
       First Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; VENU KUMARI  <br>
       Last Name : &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;KONDAPALLI <br>
       Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;23<br>
       Marital Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UN Married<br>
       Profile Createdby:&nbsp;&nbsp;&nbsp;&nbsp; Parent
    </P>
    <span class="sp">
    <h2 class="head5">VKMB4431</h2>
   <img src="../../assets/m8.jpg" class="i5">
   <h3 class="sh4">PREAM KUMAR  <br>PALLA</h3>
   <P class="para4">
       First Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PREAM KUMAR  <br>
       Last Name : &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PALLA <br>
       Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28<br>
       Marital Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UN Married<br>
       Profile Createdby:&nbsp;&nbsp;&nbsp;&nbsp; Parent
    </P></span>
    <span class="sp1">
        <h2 class="head6">VKMB4431</h2>
       <img src="../../assets/m9.jpg" class="i6">
       <h3 class="sh6">HEMANTH KUMAR  <br>NAGISETTI</h3>
       <P class="para6">
           First Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; HEMANTH KUMAR   <br>
           Last Name : &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NAGISETTI <br>
           Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;28<br>
           Marital Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UN Married<br>
           Profile Createdby:&nbsp;&nbsp;&nbsp;&nbsp; Parent
        </P></span>
        <span class="sp2">
            <h2 class="head7">VKMB4431</h2>
           <img src="../../assets/m5.jpg" class="i7">
           <h3 class="sh7">KALPANA BALAM</h3>
           <P class="para7">
               First Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; KALPANA   <br>
               Last Name : &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BALAM <br>
               Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;26<br>
               Marital Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UN Married<br>
               Profile Createdby:&nbsp;&nbsp;&nbsp;&nbsp; Parent
            </P></span>

            <span class="sp3">
                <h2 class="head8">VKMB4431</h2>
               <img src="../../assets/m10.jpg" class="i8">
               <h3 class="sh8">ARUN JAGADESH <br> BALAM</h3>
               <P class="para8">
                   First Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ARUN JAGADESH <br>
                   Last Name : &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;BALAM <br>
                   Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;26<br>
                   Marital Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UN Married<br>
                   Profile Createdby:&nbsp;&nbsp;&nbsp;&nbsp; Parent
                </P></span>
    
                <span class="sp4">
                    <h2 class="head9">VKMB4433</h2>
                   <img src="../../assets/m6.jpg" class="i9">
                   <h3 class="sh9">TEJASWAINI <br> DUNABOYINA</h3>
                   <P class="para9">
                       First Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; TEJASWAINI<br>
                       Last Name : &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DUNABOYINA <br>
                       Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;24<br>
                       Marital Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UN Married<br>
                       Profile Createdby:&nbsp;&nbsp;&nbsp;&nbsp; Parent
                    </P></span>

                    <span class="sp5">
                        <h2 class="head10">VKMB4436</h2>
                       <img src="../../assets/m7.jpg" class="i10">
                       <h3 class="sh10">SUSMITHA SRI <br> DUNABOYINA</h3>
                       <P class="para10">
                           First Name :&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; SUSMITHA SRI <br>
                           Last Name : &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DUNABOYINA <br>
                           Age :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;25<br>
                           Marital Status :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;UN Married<br>
                           Profile Createdby:&nbsp;&nbsp;&nbsp;&nbsp; Parent
                        </P></span>

                       

                          <!-- <div class="container">
                                            
                            <ul class="pagination">
                              <li><a href="#">1</a></li>
                              <li><a href="#">2</a></li>
                              <li><a href="#">3</a></li>
                              <li><a href="#">4</a></li>
                              <li><a href="#">5</a></li>
                            </ul>
                          </div> -->

                          