<!-- <div class="ser">
    <button mat-button [matMenuTriggerFor]="menu" style="height: 70px; bottom:20px ;left:10px; " class="icon" >Menu</button>
  <mat-menu #menu="matMenu" >
    
    <button mat-menu-item>Login</button>
    <button mat-menu-item>Register</button>
  </mat-menu>
    <img src="../../assets/logo.png" style="font-size: 110px;  height: 60px;" class="img"/>
   
    <div class="ggg">
    <span>
      <a mat-button href="http://localhost:4200/index"   style="color:white" class="ab">About Us </a>
      <a mat-button href="http://localhost:4200/president"   class="ab1" style="color:white" >President Message</a>
      <a mat-button href="http://localhost:4200/service"   style="color:white" class="ab2">Services</a>
      <a mat-button href="http://localhost:4200/contact"    class="ab3" style="color:white">Contact Us</a>
      <a mat-button href="http://localhost:4200/login"    tyle="color:white" class="ab4">Login</a>
  </span></div>
  </div> -->
  <app-header></app-header>
<div class="bord">
 <h2 class="h2">We are providing the following services</h2>   
<img src="../../assets/accommodationAndTransportation.png" class="img1">
<h2 class="nh1">Accommodation and <br>Transportation</h2>
<img src="../../assets/AllianceServices.png" class="img2">
<h2 class="nh2">Alliance Services</h2>
<img src="../../assets/cateringServices.png" class="img3">
<h2 class="nh3">Catering Services</h2>
<img src="../../assets/decoration.png" class="img4">
<h2 class="nh4">Decoration</h2>
<img src="../../assets/events.png" class="img5">
<h2 class="nh5">Events</h2>
<img src="../../assets/functionHalls.png" class="img6">
<h2 class="nh6">Function Halls</h2>
<img src="../../assets/purohitServices.jpg" class="img7">
<h2 class="nh7">Purohit Services</h2>
<img src="../../assets/videoPhotography.png" class="img8">
<h2 class="nh8">Video and Photography</h2>
<img src="../../assets/WeddingInvitations.png" class="img9">
<h2 class="nh9">Wedding Invitations</h2>
</div>
<div class="about">
  <h3>About Us</h3>
  <p>
      "Lorem ipsum dolor sit amet,
       consectetur adipiscing elit, <br>
       sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua.
       Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris."

      </p>
   <div class="help">
      <h3>Help & Support</h3>
      <p>
          24x7 Live help<br>
          Contact us<br>
          Feedback<br>
          FAQs   
      </p>
   </div>    
<div class="quick">
  <h3>Quick Links</h3>
 <p>Privacy Policy<br>
  Terms and Conditions<br>
  Services</p> 
</div>
  
<div class="social">
  <h3>Social</h3>
  <div class="col-md-2 col_2">
      
    <ul class="footer_social">
    <li><a href="https://www.facebook.com/Vishwakarma-Foundation-Seva-Trust-1418477775074117/?fref=ts"
       target="_blank"><i class="fa fa-facebook fa1">facebook </i></a></li>
    <li><a href="#"><i class="fa fa-twitter fa1">twitter </i></a></li>
    <li><a href="#"><i class="fa fa-google-plus fa1"> Googleplus</i></a></li>
    <li><a href="#"><i class="fa fa-youtube fa1"> youtube</i></a></li>
    </ul>
  </div>
    
</div>
</div>  