.ser
{
 border: 1px solid black;
 height: 68px;
 width:1500px;
 background-color: rgb(236, 84, 84);
}
.ggg{
    position: relative;
    left:800px;
    bottom: 40px;
    color:white;
}
.ab1{
    position: relative;
    left:-10px;
    bottom: 30px;
    
  }
  .ab2{
    position: relative;
    left:-10px;
    bottom: 30px;
    
  }
  .ab3{
    position: relative;
    left:-10px;
    bottom: 30px;
  }
  .ab4{
    position: relative;
    left:-10px;
    bottom: 30px;
  }
  .ab{
    position: relative;
    bottom: 30px;
  }
  .bord{
    border: 1px solid black;
    height: 920px;
    width: 1100px;
    position: relative;
    left:100px;
    top:60px;
  }
  .h2{
    position: relative;
    left:60px;
  }
  .img1{
    width:270px;
    height:200px;
    position: relative;
    left:74px;
    
  }
  .nh1{
    position: relative;
    left:80px;
  }
  .img2
  {
    width:270px;
    height:200px;
    position: relative;
    left:410px;
    bottom:285px;
  }
  .nh2{
    position: relative;
    left:420px;
    bottom:285px;
  }
  .img3{
    width:270px;
    height:200px;
    position: relative;
    left:750px;
    bottom:540px;
  }
  .nh3
  {
    position: relative;
    left:760px;
    bottom:540px;
  }
  .img4
  {
    width:270px;
    height:200px;
    position: relative;
    bottom:480px;
    left:74px;
  }
  .nh4{
    position: relative;
    bottom:480px;
    left:84px;
  }
  .img5{
    width:270px;
    height:200px;
    position: relative;
    bottom:730px;
    left:410px;
    
  }
  .nh5{
    position: relative;
    bottom:730px;
    left:420px;
  }
  .img6
  {
    width:270px;
    height:200px;
    position: relative;
    bottom:980px;
    left:750px;
  }
  .nh6{
    position: relative;
    bottom:980px;
    left:760px;
  }
  .img7
  {
    width:270px;
    height:200px;
    position: relative;
    bottom:960px;
    left:74px;
  }
  .nh7
  {
    position: relative;
    bottom:960px;
    left:84px;
  }
  .img8
  {
    width:270px;
    height:200px;
    position: relative;
    bottom:1200px;
    left:410px;
  }
  .nh8
  {
    position: relative;
    bottom:1210px;
    left:420px;
  }
  .img9
  {
    width:270px;
    height:200px;
    position: relative;
    bottom:1470px;
    left:750px;
  }
  .nh9
  {
    position: relative;
    bottom:1470px;
    left:760px;
  }
  .about{
    position: relative;
    left:130px;
    top:180px;
  }
  .help
  {
    position: relative;
    left: 400px;
    bottom:130px;
  }
  .quick
  {
    position: relative;
    left:600px;
    bottom:270px;
  }
  .social
  {
    position: relative;
    left:800px;
    bottom:390px;
  }