<div class="head1">
    <button mat-button [matMenuTriggerFor]="menu" style="height: 70px; bottom:20px ;left:10px; "  >Menu</button>
  <mat-menu #menu="matMenu"  class="menu">
    
    <a href="/home"><button mat-menu-item>Home</button></a>
   <a href="/newmatches"> <button mat-menu-item>New Matches</button></a>
   <a href="/myprofile"> <button mat-menu-item>My profile</button></a>
   <a href="/register"> <button mat-menu-item>Logout</button></a>

  </mat-menu>
    <a href="">
      <img src="../../assets/logo.png" style="font-size: 110px;  height: 60px; position: relative; left:-17px;
      " class="img"/><i class="fa fa-home home_1"></i></a>
   
    <div class="ggg">
    <span>
    <a mat-button href="/home"   style="color:white" class="ab">Home </a>
    <a mat-button href="/newmatches"   class="ab1" style="color:white" >New Matches</a>
    <a mat-button href="/myprofile"   style="color:white" class="ab2">MY profile</a>
    <a mat-button href="/"    class="ab3" style="color:white">Upgrade</a>
    <a mat-button href="/"    tyle="color:white" class="ab4">Logout</a>
  </span></div>
  </div>
