.h1
{
    position: relative;
    left:50px;
    top:20px;
    color: brown;
}
.img
{
    height: 363px;
    width:306px;
    position: relative;
    left:50px;
    top:10px;

}
.basic1{
    position: relative;
    bottom:60px;
    left:150px;
}
.h3{
    position: relative;
    left:40px;
    color:brown;
}
.detail
{
    position: relative;
    left:40px; 
}
.detail2
{
    position: relative;
    left:180px;
}
 