<app-header1></app-header1>
<h1 class="h1">VKMB2345</h1>
<img src="../../assets/m5.jpg" class="img"><br><br><br>
<h3 class="h3">Basics & Lifestyle</h3>
<p class="detail">
   <span> name: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Divya Kondapalli<br></span>
    Marital Status: &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Un Married<br>
    Height(cm): &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  136cm<br>
    Profile Created By: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Parent
    <span class="basic1">
        &nbsp;Age:24<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Mother Tongue:Telugu<br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Complexion: Whether</span>

</p>
<h3 class="h3">
  Social & Astro Background
</h3>
<p class="detail">
 Time Of Birth:2:00 <br>                 
 Date Of Birth:06-04-1998  <br>           
 Place Of Birth: Narsipatnam  <span class="basic1">
    Gothram:Piadipala<br>
    <span class="detail2">
    Sub Caste:Turpu Kapu<br>
    Rasi: Kanya<br>
    Star: Asta<br>
    Padam:
</span>
 </span>       
 </p>                                  
 <h3 class="h3">
    Education & Carrer
  </h3>
  <p class="detail">
   Education: B-tech <br>                 
   Working:Software Enginear <br>           
   Occupation Detail : Occupation<br>
   Annual Income: 400000
      
   </p>   
                                     