.icon
{
    position: relative;
    top:50px;
    left:70px;
    color: #ea5070;
}
.divider
{
    position: relative;
    top:45px;
    left:70px;
}
.wel
{
    position: relative;
    top:45px;
    left:80px;
}
.bord
{
    border: 1px solid black;
    height: 2192px;
    width:650px;
    position: relative;
    top:90px;
    left:70px;
}
.bord1
{
    border: 1px solid black;
    height: 500px;
    width:400px;
    position: relative;
    bottom: 2104px;
    left:800px;
}
.head1
{   font-size: 25px;
    position: relative;
    left:10px;
    color:blue;
}
.i1
{
    position: relative;
    left:10px;
    height: 150px;  
    width: 120px;
}
.sh1
{
    position: relative;
    left:170px;
    bottom:160px;
    color:blue;
}
.para1
{
    position: relative;
    left:350px;
    bottom:200px;
}
.head2
{
    font-size: 25px;
    position: relative;
    left:10px;
    bottom: 156px;
    color:blue; 
}
.i2
{
    position: relative;
    left:10px;
    bottom:156px ;
    height: 150px;  
    width: 120px;
}
.sh2
{
    position: relative;
    left:170px;
    bottom:312px;
    color:blue;
}
.para2{
    position: relative;
    left:350px;
    bottom:351px;
}
.head3
{
    font-size: 25px;
    position: relative;
    left:10px;
    bottom: 316px;
    color:blue; 
}
.i3
    {
        position: relative;
        left:10px;
        bottom:316px ;
        height: 150px;  
        width: 120px;
    }
    .sh3
    {
        position: relative;
        left:170px;
        bottom:474px;
        color:blue;
    }
    .para3{
        position: relative;
        left:350px;
        bottom:544px;
    }
    .head4
    {
        font-size: 25px;
        position: relative;
        left:10px;
        bottom: 487px;
        color:blue; 
    }
    .i4
        {
            position: relative;
            left:10px;
            bottom:485px ;
            height: 150px;  
            width: 120px;
        }
        .sh4
        {
            position: relative;
            left:170px;
            bottom:642px;
            color:blue;
        }
        .para4{
            position: relative;
            left:350px;
            bottom:711px;
        }
        .head5
    {
        font-size: 25px;
        position: relative;
        left:10px;
        bottom: 487px;
        color:blue; 
    }
    .i5
     {
            position: relative;
            left:10px;
            bottom:485px ;
            height: 150px;  
            width: 120px;
        }
        .sh5
        {
            position: relative;
            left:170px;
            bottom:642px;
            color:blue;
        }
        .para5{
            position: relative;
            left:350px;
            bottom:711px;
        }
        .sp
        {
            position: relative;
            bottom: 168px;
        }
        .head6
    {
        font-size: 25px;
        position: relative;
        left:10px;
        bottom: 487px;
        color:blue; 
    }
    .i6
        {
            position: relative;
            left:10px;
            bottom:485px ;
            height: 150px;  
            width: 120px;
        }
        .sh6
        {
            position: relative;
            left:170px;
            bottom:642px;
            color:blue;
        }
        .para6{
            position: relative;
            left:350px;
            bottom:711px;
        }
        .sp1
        {
            position: relative;
            bottom: 333px;
        }

        .head7
    {
        font-size: 25px;
        position: relative;
        left:10px;
        bottom: 487px;
        color:blue; 
    }
    .i7
        {
            position: relative;
            left:10px;
            bottom:485px ;
            height: 150px;  
            width: 120px;
        }
        .sh7
        {
            position: relative;
            left:170px;
            bottom:642px;
            color:blue;
        }
        .para7{
            position: relative;
            left:350px;
            bottom:685px;
        }
        .sp2
        {
            position: relative;
            bottom: 496px;
        }
        .head8
        {
            font-size: 25px;
            position: relative;
            left:10px;
            bottom: 487px;
            color:blue; 
        }
        .i8
            {
                position: relative;
                left:10px;
                bottom:485px ;
                height: 150px;  
                width: 120px;
            }
            .sh8
            {
                position: relative;
                left:170px;
                bottom:642px;
                color:blue;
            }
            .para8{
                position: relative;
                left:350px;
                bottom:711px;
            }
            .sp3
            {
                position: relative;
                bottom: 637px;
            }       
            .head9
            {
                font-size: 25px;
                position: relative;
                left:10px;
                bottom: 487px;
                color:blue; 
            }
            .i9
                {
                    position: relative;
                    left:10px;
                    bottom:485px ;
                    height: 150px;  
                    width: 120px;
                }
                .sh9
                {
                    position: relative;
                    left:170px;
                    bottom:642px;
                    color:blue;
                }
                .para9{
                    position: relative;
                    left:350px;
                    bottom:711px;
                }
                .sp4
                {
                    position: relative;
                    bottom: 815px;
                }     

                .head10
            {
                font-size: 25px;
                position: relative;
                left:10px;
                bottom: 487px;
                color:blue; 
            }
            .i10
                {
                    position: relative;
                    left:10px;
                    bottom:485px ;
                    height: 150px;  
                    width: 120px;
                }
                .sh10
                {
                    position: relative;
                    left:170px;
                    bottom:642px;
                    color:blue;
                }
                .para10{
                    position: relative;
                    left:350px;
                    bottom:711px;
                }
                .sp5
                {
                    position: relative;
                    bottom: 993px;
                }     

.id{
    position: relative;
    left:10px;
    top:10px;
}
.example-full-width
{
    position: relative;
    left:56px;
    top:10px;
    width:270px;
}
.btn
{
    position: relative;
    left:260px;
}
.line
{
    position: relative;
    right:260px;
    width:360px
}
.form
{
    width:70px;
    height: 30px;
}
.age
{
    position: relative;
    left:30px;
    top:10px;
    font-size: medium;
}
.sel1
{
    position: relative;
    left:80px;
    top:10px;
    width: 60px;
}
.to
{
    position: relative;
    position: relative;
    left: 201px;
    top: -10px; 
}
.sel2
{
    position: relative;
    left: 258px;
    top: -41px;
    width: 60px
}
.hei
{
    position: relative;
    left:-29px;
    top:10px;
    font-size: medium;
}
.hh0
{
    position: relative;
    
    top:10px;
    width: 60px;
}
.T1
{
    position: relative;
    position: relative;
    left: 201px;
    top: -10px; 
}
.hh1
{
    position: relative;
    left: 258px;
    top: -65px;
    width: 60px
}
.ms
{
    width:320px;
    position: relative;
    left:-20px;
}
.cast
{
    width:320px;
    position: relative;
    left:40px;
}
.btn1
{
    position: relative;
    left:260px;

}