

<app-header></app-header>
     <div class="register">
        <div class="l1">
           <div class="h12">
            <div class="start">
             <a href="/index"> <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">home</mat-icon></a>
               <span class="divider">&nbsp;|&nbsp;</span>
              <span class="wel">Register</span></div>
              
          <div>
           <div> 
             <mat-stepper [linear]="isLinear" #stepper>
               <mat-step [stepControl]="firstFormGroup">
                  <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel></ng-template>
                 <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label >Profile Created By *</mat-label>
                    <mat-select>
                      <mat-option *ngFor="let pf of profilefor" [value]="pf.name">
                         {{pf.name}}
                       </mat-option>
                     </mat-select>
                 </mat-form-field><br>
               <mat-form-field class="example-full-width" appearance="fill">
                 <mat-label>First Name*</mat-label>
                <input matInput placeholder="">
                 </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Sur Name*</mat-label>
          <input matInput placeholder="">
        </mat-form-field><br>
        <div class="gen">
        <mat-label>Gender * </mat-label><br>
         <input type="radio"  value="male" name="gender">male<br>
         <input type="radio"  value="female" name="gender">female<br>
         <input type="radio"  value="others" name="gender">others</div><br>
         <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email*</mat-label>
          <input matInput placeholder="">
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password*</mat-label>
          <input matInput placeholder="">
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="">
        </mat-form-field><br>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Mobile Number*</mat-label>
          <input matInput placeholder="">
        </mat-form-field><br>
        <mat-form-field  class="example-full-width" appearance="fill">
            <mat-label>Age*</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field><br>
          <mat-form-field class="example-full-width"  appearance="fill">
            <mat-label >Maritial Status *</mat-label>
            <mat-select>
              <mat-option *ngFor="let ms of mariticalstatus" [value]="ms.name">
                {{ms.name}}
              </mat-option>
          </mat-select>
        </mat-form-field><br>
       <mat-form-field class="example-full-width"  appearance="fill">
        <mat-label >Subcaste *</mat-label>
        <mat-select>
          <mat-option *ngFor="let sc of subcaste" [value]="sc.name">
            {{sc.name}}
          </mat-option>
      </mat-select>
    </mat-form-field><br>
    <mat-form-field class="example-full-width"  appearance="fill">
      <mat-label >Food Type* *</mat-label>
      <mat-select>
        <mat-option *ngFor="let fd of foodtype" [value]="fd.name">
          {{fd.name}}
        </mat-option>
    </mat-select>
  </mat-form-field><br>
  <mat-form-field class="example-full-width"  appearance="fill">
    <mat-label >Food Type* *</mat-label>
    <mat-select>
      <mat-option *ngFor="let fd of foodtype" [value]="fd.name">
        {{fd.name}}
      </mat-option>
  </mat-select>
</mat-form-field><br>
<mat-form-field class="example-full-width"  appearance="fill">
  <mat-label >Mother Tongue *</mat-label>
  <mat-select>
    <mat-option *ngFor="let mt of mothertonge" [value]="mt.name">
      {{mt.name}}
    </mat-option>
</mat-select>
</mat-form-field><br>
<mat-form-field class="example-full-width"  appearance="fill">
  <mat-label >Country living in *</mat-label>
  <mat-select>
    <mat-option *ngFor="let cc of countrylivingin" [value]="cc.name">
      {{cc.name}}
    </mat-option>
</mat-select>
</mat-form-field><br>
    
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      
      
    <mat-step [stepControl]="secondFormGroup" >
      <form [formGroup]="secondFormGroup">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Time of Birth</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="00.00"
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Place of Birth</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Star</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
                 <mat-select>
                  <mat-option *ngFor="let ss of star" [value]="ss.name">
                    {{ss.name}}
                  </mat-option>
              </mat-select>      
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Padam</mat-label>
          <input matInput formControlName="secondCtrl" placeholder="Enter Your Padam"
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Rasi</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
                 <mat-select>
                  <mat-option *ngFor="let rr of rasi" [value]="rr.name">
                    {{rr.name}}
                  </mat-option>
              </mat-select>      
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Kuja Dosam </mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Gothram</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Height</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
                 <mat-select>
                  <mat-option *ngFor="let hh of height" [value]="hh.name">
                    {{hh.name}}
                  </mat-option>
              </mat-select>      
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>weight</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
           </mat-form-field>
           <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Complexion</mat-label>
            <input matInput formControlName="secondCtrl" placeholder=""
                   required>
                   <mat-select>
                    <mat-option *ngFor="let cp of cmp" [value]="cp.name">
                      {{cp.name}}
                    </mat-option>
                </mat-select>      
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Gothram</mat-label>
            <input matInput formControlName="secondCtrl" placeholder=""
                   required>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Education</mat-label>
            <input matInput formControlName="secondCtrl" placeholder=""
                   required>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Occupation</mat-label>
            <input matInput formControlName="secondCtrl" placeholder=""
                   required>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Working In</mat-label>
            <input matInput formControlName="secondCtrl" placeholder=""
                   required>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Salary Per Annum</mat-label>
            <input matInput formControlName="secondCtrl" placeholder=""
                   required>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Ancestral Origin</mat-label>
            <input matInput formControlName="secondCtrl" placeholder=""
                   required>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Father's Name</mat-label>
            <input matInput formControlName="secondCtrl" placeholder=""
                   required>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Father's Occupation</mat-label>
            <input matInput formControlName="secondCtrl" placeholder=""
                   required>
          </mat-form-field>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Mother's Name </mat-label>
            <input matInput formControlName="secondCtrl" placeholder=""
                   required>
          </mat-form-field>
        
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Mother's Occupation </mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Brothers</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
                 <mat-select>
                  <mat-option *ngFor="let bb of bros" [value]="bb">
                    {{bb}}
                  </mat-option>
              </mat-select>      
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Sisters</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
                 <mat-select>
                  <mat-option *ngFor="let si of noofsis" [value]="si.name">
                    {{si}}
                  </mat-option>
              </mat-select>      
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Married Brothers</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
                 <mat-select>
                  <mat-option *ngFor="let mb of bros" [value]="mb">
                    {{mb}}
                  </mat-option>
              </mat-select>      
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Married Sisters</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
                 <mat-select>
                  <mat-option *ngFor="let ms of mss" [value]="mss">
                    {{ms}}
                  </mat-option>
              </mat-select>      
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Adress</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>City</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Villege</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>State</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
                 <mat-select>
                  <mat-option *ngFor="let st of ste" [value]="st.name">
                    {{st.name}}
                  </mat-option>
              </mat-select>      
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Country</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
                 <mat-select>
                  <mat-option *ngFor="let cc of country" [value]="cc.name">
                    {{cc.name}}
                  </mat-option>
              </mat-select>      
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Reference</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Alternate Mobile </mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Family Details</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Property Details</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Partner Preference</mat-label>
          <input matInput formControlName="secondCtrl" placeholder=""
                 required>
        </mat-form-field>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>submit</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step> 
    
    